.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.center {
  text-align: center
}

.engraver {
  color: red;
  margin-left: 5px
}

.ex-engraver {
  color: pink;
  margin-left: 25px;
  font-style:
}

.engraver-title {
  font-weight: bold;
  margin-left: 15px
}

.container {
  margin-top: 15px
}

.hero-unit {
  background-image: url(/assets/warrior-poets-opac-15.png)
}

.negative {
  color: red
}
