.title-img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.center {
  text-align: center
}

.center-negative{
  text-align: center;
  color: red
}

.engraver {
  color: red;
  margin-left: 5px
}

.ex-engraver {
  color: #FFC1C1;
  margin-left: 25px;
  text-decoration: line-through
}

.engraver-title {
  font-weight: bold;
  margin-left: 15px
}

.container {
  margin-top: 15px;
  font-size: 12.4px
}

.hero-unit {
  background-image: url(/images/warrior-poets-opac-15.png)
}

.negative {
  color: red
}
